<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/tailwind/tailwind.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-tailwind.png">
    <script src="/public/js/main.js"></script>
    <title>404 - Can't Find This Page</title>
</head>
<body>
    <section class="py-20 bg-white">
        <div class="container mx-auto px-4">
          <div class="max-w-xl mx-auto">
            <div class="py-12 px-6 bg-white rounded shadow">
              
              <div class="text-center">
                <span class="mb-6 text-4xl text-pink-600 font-bold">Whoops!</span>
                <h3 class="mb-2 text-4xl font-bold">Something went wrong!</h3>
                <p class="mb-8 text-gray-400">Sorry, but we are unable to open this page</p>
                <div><a class="w-full lg:w-auto mb-2 lg:mb-0 lg:mr-4 inline-block py-2 px-6 rounded-l-xl rounded-t-xl font-bold leading-loose text-gray-50 bg-pink-700 hover:bg-gray-700" href="/">Go back to Homepage</a><a class="w-full lg:w-auto inline-block py-2 px-6 rounded-l-xl rounded-t-xl font-bold leading-loose bg-white hover:bg-gray-50" href="/404">Try Again</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>